* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    background: lightblue;
}

.page-container {
    width: 1000px;
    margin: 0 auto;
    padding: 32px;
    background: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product-listing {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
}

.product-listing .product-listing-item {
    margin: 10px auto;
    width: 18rem;
    min-width: 250px;
}

.product-listing-item img {
    max-height: 150px;
}

.product-listing-item .description {
    color: #7F7F7F
}
